.recipes {
  background-color: #0a2850;
  background-image: url("/images/background_recipes.svg");
  background-repeat: no-repeat;
  color: #ffffff;
}

.recipes__title {
  margin: 0;
  max-width: 580px;
  padding-top: 100px;
  padding-left: 80px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
}

.recipes__subtitle {
  font-family: "Noto-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  max-width: 438px;
  padding-left: 80px;
  padding-top: 24px;
  margin: 0;
}

.recipes__videos {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 214px;
}

.recipes__video-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding-top: 80px;
  padding-bottom: 214px;
}

.recipes__iframe {
  height: 273px;
  width: 480px;
  border: none;
}

.recipes__caption {
  display: flex;
  margin: 0;
  padding-top: 24px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  justify-content: space-between;
}

.recipes__video-text {
  margin: 0;
}
